
.logo{
    margin-bottom: 5px;
    margin-top: 20px;
    width: 60px;
}
.logo img{
    max-width: 100%;
}
ul{
    display: flex;
flex-direction: column;
justify-content: flex-start;
}
.nav-part{
    max-width: 20%;
    background-color: yellow;
}
.nav-item{
    list-style: none ;
    justify-content: flex-start;
    background-color: pink;
    

}
.icon{
    margin-right: 15px;
}
.nav-link {
align-items: center;
border-radius: 40px;
color: #000;
display: inline-flex;
margin-top: 15px;
padding: 15px 30px 15px 15px;
text-decoration: none;
width: -webkit-fit-content;
width: -moz-fit-content;
width: fit-content;
}
.nav-link.active{
    background-color: aqua;
}